body{
    background-image:url(https://scontent.fmty1-1.fna.fbcdn.net/v/t1.0-9/26166533_1994460004102819_6497188839488590675_n.png?_nc_cat=104&_nc_ht=scontent.fmty1-1.fna&oh=50297d72ac748f286e0255f0e659f36a&oe=5CAC4549);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-attachment: fixed;
     
}
#vacio{
    width: 100%;
    height:100px ;
    background-image: url(img/PG.jpg);

    
}
#contenedor{
    
    width: 100%;
    height:1000px ;
    background-color:transparent;
}
#iz{
    
    padding-top: 30px;
    padding-right: 700px;
}
#body{
    margin: auto;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;  
    width: 100%;
    height: 100%;
    background-color: white;
    /*background-color: cadetblue;*/
}
/*Barra colores*/
/*#x{
    display: inline;
}*/
/*.y{
    /*box-align: block;*/
   /* float: left;
   
    position: fixed;
   /* width: 30%;
   /* list-style-type: none;
    margin: -10px;
    padding: 5px;
   /* overflow: hidden;
    background-color: yellow;
    /*border-right: #111;
    background-attachment: fixed;
}
.b{
    /*box-align: block;*/
    /*float: center;
   
    position: fixed;
    /*width: 30%;
   /* list-style-type: none;
    margin: -10px;
    padding: 5px;
   /* overflow: hidden;
    background-color: blue;
    /*border-right: #111;
    background-attachment: fixed;
}
.r{
    /*box-align: block;
   /* float: right;
    position: fixed;
   
   /* width: 30%;
   /* list-style-type: none;
    margin: -10px;
    padding: 5px;
   /* overflow: hidden;
    background-color: red;
    /*border-right: #111;
    background-attachment: fixed;
}*/
.menu{
  position: fixed;
    width: 100%;
}
.menu ul {
    list-style-type: none;
    margin: -10px;
    padding: 0px;
    overflow: hidden;
    background-color: red;
    border: 2px solid black; 
    background-attachment: fixed;
}

.menu li {
    float: left;
    /*border: 2px solid black; */
}


.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 


.menu li a:hover {
    background-color: #111;
}


ul img{
    align-content :"center"; 
    margin: 1px;
    padding: 1px;
}
.rent li{
    display: block;
    text-align: left;

}
div#body.servi{
 background-image: url(img/scont.png)
}
div#body.npro{
    background-image: url(img/scont.png)
}
div#body.hist{
    background-image: url(img/scont.png)
}